*,
*::before,
*::after {
    box-sizing:border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1,h2,h3,p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

/* Header */

.page-header {
    flex-shrink: 0;
    border-bottom: 1px solid #e7e9fc;
}

.container {
    max-width: 1158px;
    margin: 0;
    padding: 0 15px;
}

.page-header .container {
    display: flex;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo-studio {
    color: #2e2f42;
}

.page {
    display: flex;
    gap: 40px;
    margin-right: auto;
}

.page .link {
    display: block;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.page .link:hover,
.page .link:focus {
    color: #404BBF
}

.adress-title {
    font-style: normal;
}

.page-adress {
    font-style: normal;
    display: flex;
    gap: 40px;
}

.page-adress .contacts {
    display: block;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.page-adress .contacts:hover,
.page-adress .contacts:focus {
    color: #404BBF
}


/* Section 1 */

.section-one {
    background-color: #2e2f42;
}

.section-one-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.section-one-button {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.section-one-button:hover,
.section-one-button:focus {
    background-color: #404bbf;
}

/* Section 2 */

.sections-two-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42
}

.sections-two-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Section 3 */

.section-three {
    background-color: #F4F4FD
}

.section-three-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42
}

.section-three-list {
    background-color: #FFFFFF
}

.section-three-list-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42
}

.section-three-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
}

/* Section 4 */

.section-four-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.section-four-list-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-four-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer */

.footer {
    background-color: #2e2f42;
}

.footer-p {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}

.span-studio {
    color: #f4f4fd;
}